@using System.Collections
@model SmartHouseDll.House


<div class="panAdd">
    <fieldset>
        <legend>
            Добавить комнату
        </legend>
        @Html.TextBox("addRoom", "", new {placeholder = "Имя комнаты"})
        <br/>
        <br/>
        <a id="addRoom_api" class="link_button" command="~/Home/AddRoom" href="">Добавить</a>
    </fieldset>
</div>


<div class="panAdd">
    <fieldset>
        <legend>
            Добавить устройство
        </legend>
        @Html.DropDownList("list_room", new SelectList(Model.Rooms.Values, "Name", "Name"))

        @{
            var devices = Model.Remote.Commands.Values.
                Where(c => c.Name.StartsWith("add") & !c.Inform.Contains("комнату")).
                Select(c => c.Inform.Replace("Добавить ", string.Empty));
        }

        @Html.DropDownList("list_device", new SelectList(devices.ToList()))
        <br/>
        <br/>
        @Html.TextBox("addDevice", "", new {placeholder = "Имя устройства"})
        <br/>
        <br/>
        <a id="addDevice_api" class="link_button" command="~/Home/AddDevice" href="">Добавить</a>
    </fieldset>
</div>

<script src="~/Scripts/AddTools.js"></script>
